name: ci

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  terraform:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir: ["grains/network", "grains/compute"]

    defaults:
      run:
        working-directory: ${{ matrix.dir }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.0"

      - name: terraform fmt
        run: terraform fmt -check -recursive

      - name: terraform init (no backend)
        run: terraform init -backend=false

      - name: terraform validate
        run: terraform validate

  yaml_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install yamllint
        run: python3 -m pip install --upgrade pip yamllint
      - name: Lint blueprints and ansible files
        run: |
          yamllint -d "{extends: default, rules: {line-length: {max: 140}}}" blueprints
